<div class="container center-align padded">
  <div class="row">
    <h2 class="flow-text credits-header">Credits</h2>
  </div>
  <div class="row">
    <span class="flow-text credits-text">
      NUSReviews credits the following for some of the assets used:
      <div>Icons made by <a href=" https://www.flaticon.com/authors/vectors-market " title="Vectors Market">Vectors Market</a> from <a href=" https://www.flaticon.com/ " title="Flaticon"> http://www.flaticon.com </a> is licensed by <a href=" http://creativecommons.org/licenses/by/3.0/ " title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>      
      <div>Icons made by <a href=" http://www.freepik.com " title="Freepik">Freepik</a> from <a href=" https://www.flaticon.com/ " title="Flaticon"> http://www.flaticon.com </a> is licensed by <a href=" http://creativecommons.org/licenses/by/3.0/ " title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
      <div>Bokeh image made by <a href="http://www.theotaku.com/cards/view/156280/let_it_%257B_s_h_i_n_e_%257D" title="TheOtaku">moani1582 from TheOtaku.com</a></div>
    </span>
  </div>
</div>