<div>
  <div id="fb-login-content" *ngIf="userProfile; else login">
    <div class="fb-content">
      <a class="valign-wrapper" [routerLink]="['/user/' + userProfile.userId]">
      <img class="fb-profile-image" [src]="loginService.getFacebookProfile().picture.data.url">
      {{fbProfile.name}}
      </a>
    </div>
    <div class="fb-content" (click)="doLogout()">
      Logout
    </div>
  </div>
</div>

<ng-template #login>
  <div id='fb-login' (click)="doLogin()">
    Login with Facebook
  </div>
</ng-template>