<div id="fb-login">
  <div id="fb-login-content" *ngIf="loginService.getFacebookProfile(); else login">
    <div>
      <a [routerLink]="['/user/' + loginService.getFacebookProfile().id]">
      <span>
        {{loginService.getFacebookProfile().name}}
      </span>
      <img class="fb-profile-image" [src]="loginService.getFacebookProfile().picture.data.url">
      </a>
    </div>
    <div (click)="loginService.toggleFacebookLogin()">
      Logout
    </div>
  </div>
</div>

<ng-template #login>
  <div (click)="loginService.toggleFacebookLogin()">
    Login with Facebook
  </div>
</ng-template>