<div class="container">
    <div *ngIf="module">
        <h2 class="module-code">{{module.code}}</h2>
        <h2 class="module-name">{{module.modName}}</h2>
        <div class="row verdict-container center-align">
                <h3 class=" verdict-label">{{module.percentageRecommend}}%</h3>
                <img class="verdict-image responsive-img" src="../../assets/images/thumbs-up.png">          
        </div>
        <div class="row ratings-bar">
            <div materialize="tooltip" class="tooltipped ratings-bar-recommend" [attr.data-tooltip]="module.percentageRecommend + '% recommended'" data-position="bottom" data-delay="30" data-tooltip=" recommended!" [ngStyle]="{'width.%': module.percentageRecommend}"></div> <!-- Dynamically change the numbers for this width-->
            <div materialize="tooltip" class="tooltipped ratings-bar-not-recommend" data-position="bottom" data-delay="30" [attr.data-tooltip]="100 - module.percentageRecommend + '% not recommended'" [ngStyle]="{'width.%': (100 - module.percentageRecommend)}"></div>
        </div>
  
    <div class="divider"></div>
    <label class="module-detail-section-header">MODULE INFO</label>
    <p>This module is about teaching programming.</p>
  
    <div class="divider"></div>
    <label class="module-detail-section-header">WRITE A REVIEW</label>
    <module-review-form [module]="module"></module-review-form>
  
    <div class="divider"></div>
    <label class="module-detail-section-header">WHAT STUDENTS SAY</label>
    <app-review-list></app-review-list>
  
  </div>
</div>

