<div class='container'>
  <div class="row">
    <div *ngIf="user;else no_such_user">
      <ul class="modules">
        <h2>{{user.username}}'s Profile</h2>
        <div *ngIf="reviews;else loading_reviews">
          <div *ngIf="reviews.length>0;else no_reviews">
            <li *ngFor="let review of reviews">
              <app-review-list-item [review]="review" [showModName]="true"></app-review-list-item>
            </li>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
<ng-template #no_such_user>
  <div class="empty-container">
    <span class="vcenter"><strong>No such User :(</strong></span>
  </div>
</ng-template>
<ng-template #loading_reviews>
  <div class="loading-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', backdropBackgroundColour: 'rgba(55,55,55,0.3)', 
    primaryColour: '#ccccff', secondaryColour: '#aaaaff', tertiaryColour: '#5555ff' }"></ngx-loading>
  </div> 
</ng-template>
<ng-template #no_reviews>
  <div class="empty-container">
    <span class="vcenter"><strong>There are no reviews for this module yet!</strong></span>
  </div>
</ng-template>