:host {
  border-bottom: 2px solid rgba(162, 205, 235, 1);
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.module-review-form-header-content {
  color: rgba(45, 56, 64, 1);
  font-size: 24px;
}