<module-review-form-header></module-review-form-header>
<div class="module-review-form-container">
  <div class="teaching-staff-quality-container module-review-input-container">
    <span class="teaching-staff-quality-label module-review-input-item">
      Quality of Teaching Staffs: 
    </span>
    <star-rating-comp class="teaching-staff-quality-input module-review-input-item" [starType]="'svg'" [staticColor]="'ok'" #staff_quality_rating></star-rating-comp>
  </div>
  <div class="module-difficulty-level-container module-review-input-container">
    <span class="module-difficulty-level-label module-review-input-item">
      Difficulty Level of Module: 
    </span>
    <star-rating-comp class="module-difficulty-level-input module-review-input-item" [starType]="'svg'" [staticColor]="'ok'" #module_difficulty_rating></star-rating-comp>
  </div>
  <div class="module-enjoyability-level-container module-review-input-container">
    <span class="module-enjoyability-level-label module-review-input-item">
      Enjoyability Level of Module: 
    </span>
    <star-rating-comp class="module-enjoyability-level-input module-review-input-item" [starType]="'svg'" [staticColor]="'ok'" #module_enjoyability_rating></star-rating-comp>
  </div>
  <div class="module-overall-recommendation-container module-review-input-container">
    <span class="module-overall-recommendation-label module-review-input-item">
      Overall Recommendations: 
    </span>
    <star-rating-comp class="module-overall-recommendation-input module-review-input-item" [starType]="'svg'" [staticColor]="'ok'" #overall_rating></star-rating-comp>
  </div>
  <div class="module-comments-container module-review-input-container">
    <label for="module-comments-input" class="module-review-input-item">Comments: </label>
    <input name="module-comments-input" class="module-review-input-item" type="text" #comments>
  </div>
</div>
<module-review-form-footer (onSubmit)="onSubmit()"></module-review-form-footer>
