.card-action {
  border: 0;
  display: flex;
  flex-flow: row-reverse;
  padding: 0;
}

.card-title {
  padding: 12px;
}

.row .col.s5 {
  margin-left: 0;
}

.row .col{
  padding: 0;
}

.button-margin-left-right {
  margin: 0px 10px 0px 10px;
}

.btn-active-red {
  background: red;
}

.btn-inactive {
  background: #989898;
}