<!-- <div class="navbar">
  <h1>{{appName}}</h1>
  <nav *ngFor="let option of navOptions" class="nav-option-container">
    <a routerLink={{option.link}} routerLinkActive="active" class="nav-option">{{option.name}}</a>
  </nav>
</div> -->
<!-- 
  <nav>
    <div class="nav-wrapper yellow darken-2">
      <img class="logo-image responsive-img" src="../../assets/images/nusreviews_logo.png" (click)="redirectHome()">          
      <span class="brand-logo header-label" (click)="redirectHome()">NUSReviews</span>
      <user-login class="right"></user-login>
      <ul *ngFor="let option of navOptions" class="right hide-on-med-and-down nav-mobile">
        <li><a routerLink={{option.link}}>{{option.name}}</a></li>
      </ul>
      <ul class="right hide-on-med-and-down nav-mobile">
        <li><a routerLink="/dashboard">Modules</a></li>
        <li><a>Login</a></li>
      </ul>
    </div>
  </nav> -->
  
  <nav>
    <div class="nav-wrapper yellow darken-2">
      <img class="logo-image responsive-img" src="../../assets/images/nusreviews_logo.png" (click)="redirectHome()">          
      <h1 class="flow-text brand-logo header-label" (click)="redirectHome()">NUSReviews</h1>
      <a data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      
      
      <ul class="right hide-on-med-and-down desktop-bar">
        <div *ngIf="isLoggedIn; else login_block">
          <li>
            <a (click)="onProfileClick()">
              <div>
                <img class="fb-profile-img responsive-img" [src]="getProfilePicture()">
                <span class="fb-name">{{username}}</span>
              </div>
            </a>
          </li>
          <li><a routerLink="/dashboard">Modules</a></li> 
          <li><a (click)="onLogoutClick()">Logout</a></li>
        </div>
      </ul>
      
      
      <ul class="side-nav mobile-bar" id="mobile-demo">
        <div *ngIf="isLoggedIn; else login_block">
          <li>
            <a (click)="onProfileClick()">
              <div>
                <img class="fb-profile-img responsive-img" [src]="getProfilePicture()">
                <span class="fb-name">Welcome, {{username}}!</span>
              </div>
            </a>
            <div class="divider"></div>
          </li>
          <li><a routerLink="/dashboard">Modules</a></li> 
          <li><a (click)="onLogoutClick()">Logout</a></li>
        </div>
      </ul>
    </div>
  </nav>
  
  <router-outlet></router-outlet>

  <ng-template #login_block>
    <li ><a (click)="onLoginClick()">Login</a></li>
    <li><a routerLink="/dashboard">Modules</a></li>
  </ng-template>