<!-- <div class="navbar">
  <h1>{{appName}}</h1>
  <nav *ngFor="let option of navOptions" class="nav-option-container">
    <a routerLink={{option.link}} routerLinkActive="active" class="nav-option">{{option.name}}</a>
  </nav>
</div> -->

<nav>
    <div class="nav-wrapper yellow darken-2">
      <img class="logo-image responsive-img" src="../../assets/images/nusreviews_logo.png">          
      <a href="#" class="brand-logo header-label">NUSReviews</a>
      <user-login class="right"></user-login>
      <ul *ngFor="let option of navOptions" class="right hide-on-med-and-down nav-mobile">
        <li><a routerLink={{option.link}}>{{option.name}}</a></li>
      </ul>
    </div>
</nav>

<router-outlet></router-outlet>