.author-label {
    font-weight: bold;
    padding-bottom: 1.25em;
    margin-left: .5em;
}
.recommend-text {
    color: #4caf50; /* Materialize Green */
}

.not-recommend-text {
    color: #e53935; /* Materialize Red Darken-1 */
}

.comments-container {
    margin: 2em 0em 2em 0em;
}

.comments-text {
    font-size: 1.25em;
    margin-left: .5em;
}

.ratings-container {
    margin: 1em 0em 1em 0em;
}

.action-label {
    font-weight: bold;
}

.like-label {
    float: right;
}

.share-button-label {
    font-weight: 500;
}

.date-container {
    margin: 1em 0em 1em 0em;
    text-align: right;
}

.date-label {
    font-style: italic; 
}

.rating-label {
    font-size: 1.25em;
    font-weight: 500;
    padding-bottom:1em;
}

.star-rating-container {
    float: left;
}
