<head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<div class="row">
    <div [ngClass]="review.isRecommend === true ?'card green lighten-5':'card red lighten-5'">
        <div class="card-content">
            <div class="card-title author-label">
                {{review.author}} 
                <span [ngClass]="review.isRecommend === true ?'recommend-text':'not-recommend-text'">{{review.isRecommend === true ? "recommends" : "does not recommend"}}</span>
                this module
            </div>
            <div class="ratings-container">Ratings placeholder</div>
            <div class="comments-container">
                <span class="comments-text">{{review.comments}}</span>
            </div>
            <div class="date-container">
                <span class="date-label">Last updated on {{review.dateLastEdited}}</span>
            </div>
            
        </div> 
        <div class="card-action">
            <a class="action-label"><like-button></like-button></a>
            <!-- <a class="test btn-floating btn-small waves-effect waves-light yellow"><i class="tiny material-icons">share</i></a> -->
            <a class="waves-effect btn-flat"><span class="blue-text lighten-1 test">Share</span></a>
        </div>
    </div>
</div>


