.author-label {
    font-weight: bold;
}
.green-text {
    color: #2e7d32;
}

.red-text {
    color: #c62828;
}

.comments-text {
    font-size: 1.25em;
}

.ratings-container {
    padding-top: 1.5em;
    padding-bottom: 2em;
}

.verdict-label {
    padding-top: 2em;
    margin-bottom:0em;
    font-weight: bold;
}