<!-- <div class="footer">
  <fb-like [share]="true" [width]="'350px'" href="https://nusreviews.com/dashboard"></fb-like>
</div> -->
<footer class="page-footer yellow darken-3">
  <div class="container">
    <div class="row center-align">
      <ul id="horizontal-list">
        <li><a class="flow-text grey-text text-lighten-3 list-item-text" href="/about">About</a></li>
        <li><a class="flow-text grey-text text-lighten-3 list-item-text" href="/privacy">Privacy</a></li>
        <li><a class="flow-text grey-text text-lighten-3 list-item-text" href="/terms">Terms</a></li>
        <li><a class="flow-text grey-text text-lighten-3 list-item-text" href="/credits">Credits</a></li>
      </ul>
    </div>
    <div class="row center-align">
      <fb-like [share]="true" [width]="'350px'" href="https://nusreviews.com/dashboard"></fb-like>  
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center-align">
      2017 © Copyright NUSReviews All Rights Reserved.
    </div>
  </div>
</footer>

<!-- <div class="sticky-footer-wrapper sticky-footer-bottomright">
  <fb-like [share]="true" [width]="'350px'" href="https://nusreviews.com/dashboard"></fb-like>
</div> -->