<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<div class="container">
    <div class="row">
      <form class="card">
        <div class="input-field">
          <input id="search" #search type="search" (keyup.enter)="submit(search.value)" required placeholder="Enter a module code here (Eg: CS2100)">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons" style="padding-top:0.25em">close</i>
        </div>
      </form>
    </div>
    <div class="row">
      <div *ngIf="modules;else loading">
        <div *ngIf="modules.length>0;else no_modules">
          <div infiniteScroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="300"
          (scrolled)="onScroll()">
            <ul class="modules">
              <li *ngFor="let module of modules" (click)="onSelect(module)" class="fit-height">
                  <app-module-card [module]="module"></app-module-card>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
<ng-template #loading>Loading Modules...</ng-template>
<ng-template #no_modules>There are no such modules</ng-template>