.module-card {
	list-style-type: none;
	padding: 1em;
	height: 100%;
	cursor: pointer;
}

.module-content-container {
	padding: 0em 0em 0em 0em;
}

.module-info-container {
	text-align: left;
}

.module-code-label {
	font-size: 1.5em;
	font-weight: 400;
}

.module-name-label {
	font-size: 1.5em;
	font-weight: 300;
	color: #37474f;
}

.verdict-container {
	height: 100%;
	padding: 1em;
}

.verdict-label {
	text-align: center;
	font-size: 2.2em;
	font-weight: 400;
	color: white;
}

.recommend-label {
	text-align: center;
	color: white;
	font-weight: 100;
	font-size: 1em;
}

.module-card li {
	cursor: pointer;
	position: relative;
	left: 0;
	background-color: #EEE;
	margin: .5em;
	padding: .3em 0;
	height: 1.6em;
	border-radius: 4px;
}
.module-card .badge {
	display: inline-block;
	font-size: small;
	color: white;
	padding: 0.8em 0.7em 0 0.7em;
	background-color: #607D8B;
	line-height: 1em;
	position: relative;
	left: -1px;
	top: -4px;
	height: 1.8em;
	margin-right: .8em;
	border-radius: 4px 0 0 4px;
}
.module-card .text {
	display: inline-block;
	padding: 0.8em 1em 0 0.7em;
	line-height: 1em;
	position: relative;
	left: -0.5em;
	top: -4px;
	height: 1.8em;
	margin-right: .8em;
	border-radius: 0px 10px 10px 0px;	
}

.module-ratings-container {
	padding: 1em 0em 1em 0em;
	z-index: -1;
}

.ratings-label {
	font-size: .85em;
	font-weight: 400;
}