<div *ngIf="module" class=" row module-card card grey lighten-3 valign-wrapper">
  <div class="col s5 module-info-container">
    <div class="row">
      <h5 class="module-code-label">{{module.code}}</h5>
    </div>
    <div class="row">
      <label class="module-name-label text-">{{module.modName}}</label>
    </div>
  </div>

  <div class="col s3">
      <div class="row">
          <label>Last Reviewed On</label>
      </div>
    <div class="row">
        <span>{{module.lastReviewed}}</span>
    </div>
  </div>

  <div class="col s2"></div>     
  
  <div class="col s2 card verdict-container" [ngClass]="module.percentageRecommend < 25 ? 'red darken-1' : module.percentageRecommend < 50 ? 'deep-orange darken-1' : module.percentageRecommend < 75 ? 'yellow darken-2' : 'green'">
    <div class="row">
        <label class="verdict-label">{{module.percentageRecommend}}%</label>
    </div>
    <div class="row">
        <label class="recommend-label">Recommended</label>
    </div>
  </div>
</div>